/* VARIABLES CSS */

:root {
    --primary-color: #1D1D1B;
    --second-color: #ffffff;
    --third-color: #4F5DFF;
    --font-size: 18px;
    --font-primary: 'Inter Tight', sans-serif;
    --font-secondary: 'Grafiti'; 
}

.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--second-color);

  }



/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter Tight', sans-serif;
    max-width: 100%;    
}


html, body {
    max-width: 100%;    
    background-color: var(--primary-color);
    margin: 0px;
    padding: 0px;
    height: 68rem;
    max-width: 100%;    
}

body, p, h1, h2, h3, h4, h5, h6, li, a, span, label, input, textarea, button {
      color: var(--second-color);
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* ------------------------------------ *//* HEADER HOME  */

header {
  background-color: var(--primary-color);
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem; 
  height: auto;       
}


.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}


/* ----- MENU RESPONSIVE  */


.navbar {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  left: clamp(1rem, 100vw - 16rem, 45rem);
  
  top: -22rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--second-color);
  text-decoration: none;
}

.menu-toggle {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--second-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile li {
  margin: 1.2rem 0; 
}

.menu-mobile a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle {
    display: none !important;
  }
  .menu-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar {
    display: block; 
  }
}

/* -------------  */

.logo {
  margin: 2rem 0rem 14rem 2rem;
  width: 10%;

}
/* -------------------------------  */

/* ---------- MARQUESINA ---------- */
/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  /* margin-top: 10rem; */
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: var(--second-color);
  font-size: 6rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -9px;
  padding: 0 2%;
  opacity: 50%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-container {
  position: relative;
}

.about {
  position: absolute;
  top: 52%;          
  right: 40px;        
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;       
}

.about h1 {
  font-size: clamp(9rem, 4vw, 3rem);
  color: white;
  margin-top: 3%;
}

.about img {
  width: clamp(100px, 4vw, 40px);
  height: auto;
}


/* -------------------------------- */

.descripcion {
  display: flex;
}

.descripcion img {
  width: 80%;
}

.descripcion p {
  font-size: 2.5rem;
}

.descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem; /* separación entre imagen y texto */
  padding: 4rem;
}

.descripcion .imagen img {
  max-width: 400px;
  height: auto;
  border-radius: 1rem;
}

.main-text {
  font-size: 3rem;
  line-height: 1.2;
  max-width: 700px;
}

.highlight {
  color: var(--third-color);
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  margin-left: 0.5rem;
}

/* ✅ Responsive para pantallas pequeñas */
@media (max-width: 992px) {
  .descripcion {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .main-text {
    font-size: 2rem;
    text-align: center;
  }
}