/* VARIABLES CSS */

:root {
    --primary-color: #1D1D1B;
    --second-color: #ffffff;
    --third-color: #4F5DFF;
    --font-size: 18px;
    --font-primary: 'Inter Tight', sans-serif;
    --font-secondary: 'Grafiti'; 
}

.inter-tight {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: var(--second-color);

  }



/* GENERAL */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter Tight', sans-serif;
    max-width: 100%;  

}


html, body {  
    background-color: var(--primary-color);
    margin: 0px;
    padding: 0px;  

}

body, p, h1, h2, h3, h4, h5, h6, li, a, span, label, input, textarea, button {
      color: var(--second-color);
      letter-spacing: -1px;
}

img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* ------------------------------------ *//* HEADER HOME  */

header {
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem; 
  height: auto;       
}


.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}

.menu-desktop li:last-child a {
  color: #bfbfbf;
}

/* ----- MENU RESPONSIVE  */


.navbar {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  left: clamp(1rem, 100vw - 16rem, 45rem);
  
  top: -22rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--second-color);
  text-decoration: none;
}

.menu-toggle {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--second-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile li {
  margin: 1.2rem 0; 
}

.menu-mobile a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle {
    display: none !important;
  }
  .menu-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar {
    display: block; 
  }
}

/* -------------  */

.logo {
  margin: 2rem 0rem 1rem 2rem;
  width: 10%;

}
/* -------------------------------  */

/* ---------- MARQUESINA ---------- */
/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  /* margin-top: 10rem; */
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: var(--second-color);
  font-size: 6rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -9px;
  padding: 0 2%;
  opacity: 50%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-container {
  position: relative;
}



.about {
  position: absolute;
  top: 52%;          
  display: flex;
  align-items: center;
  gap: 20px;
  z-index: 10;     
  right: 2rem;
  margin-right: 4rem;
}

.about h1 {
  font-size: clamp(9rem, 4vw, 3rem);
  color: white;
  margin-top: 3%;
}

.about img {
  width: clamp(100px, 4vw, 40px);
  height: auto;
}


/* -------------------------------- */


.imagen img {
  width: 95%;  
  max-width: 600px;
}


.word-with-icon {
  display: inline-flex;
  align-items: center;
}


.icon {
  width: 2.8rem;
  margin-left: 0.6rem;
  transform: translateY(3px);
}

.main-text {
  font-size: 3rem;
  line-height: 1.2;
  max-width: 800px;
}

.highlight {
  color: var(--third-color);
}


/* Responsive */
@media (max-width: 992px) {
  .descripcion {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .main-text {
    font-size: 2.2rem;
    text-align: center;
  }

  .imagen img {
    width: 80%;
  }
}





/* THE TEAM  */

#the_team h1 {
font-size: 7rem;
margin-left: 6rem;
margin-bottom: 3rem;
}

.purple {
color: var(--third-color);
font-size: 2.3rem;
margin-left: 4rem;
}

#the_team .team {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
  margin: 2rem 0rem 5rem 0rem;
}

#the_team .team img {
  width: 20%;
  transform-origin: center center;
  position: relative;
  transition: transform 0.3s ease;
}

#the_team .team img:nth-child(1) {
  transform: rotate(-7deg);
  z-index: 1;
  margin-right: -40px; 
}

#the_team .team img:nth-child(2) {
  transform: rotate(6deg);
  z-index: 2;
  margin-left: -40px; }

#the_team .team img:hover {
  transform: rotate(0deg) scale(1.03);
  z-index: 3;
}



.text1 {
  margin-right: 12rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.6;
}

.textito p {
  font-size: 3rem;
}

.text1 > p,
.text > p {
  font-size: 2.3rem;
  margin-left: 4rem;
}



.gray {
  color:#bfbfbf;
}


/* WORK WITH US  */


/* HOW WE WORK */

#how_we_work {
  top: 52%;          
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 20px;
  z-index: 10;     
  right: 2rem;
  margin-right: 5rem;
}

#how_we_work h1 {
  font-size: 7rem;
}

#how_we_work .text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
  margin-right: 12rem;
  line-height: 0.6;
}

#how_we_work .text2 p {
font-size: 2rem;
color: #bfbfbf;

}

.timeline {
  color: var(--second-color);
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 3rem 0;
  margin: 3rem;
}

.line {
  position: absolute;
  top: 50%;
  left: 0;
  height: 0.15rem;
  width: 0%; /* empieza desde 0 y se expande */
  background: var(--second-color);
  transform: translateY(-50%);
  z-index: 1;
  transition: width 0.5s linear;
}

.timeline::before {
content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0; /* empieza desde 0 y se va expandiendo con scroll */
  height: 0.15rem;
  background: var(--second-color);
  transform: translateY(-50%);
  z-index: 1;
  transition: width 0.5s linear;
}

.step {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  
   opacity: 0; /* invisible hasta que se active con scroll */
  transform: translateY(20px); /* posición inicial para subir */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.step.show {
 opacity: 1; /* aparece cuando entra en pantalla */
  transform: translateY(0); /* vuelve a su posición */
}

.star {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1;
  color: var(--second-color);
  transform: translateY(70%);
} 

.step.top p {
  transform: translateY(-4rem);
  margin: 0;
  font-size: 2rem;
}

.step.bottom p {
  transform: translateY(1rem);
  margin: 0;
  font-size: 2rem;

}

.step p {
  font-size: 1rem;
  color: var(--second-color);
  text-align: center;    
}



.text3 p {
  font-size: 2.5rem;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.6;
}

.text4 p {
  font-size: 2.5rem;
  flex-direction: column;
  align-items: flex-end;
  line-height: 0.6;
}




/* FOOTER  */

/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  margin-top: 10rem;
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: var(--second-color);
  font-size: 7rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -11px;
  padding: 0 2%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



#foot {
  position: relative;
  width: 100%;
  height: 93vh;
  padding: 4rem;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: -4rem;
}

#foot .img_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  margin-left: 2rem;
  height: 100%;
  z-index: 0;
}

.text_top b {
  font-weight: 500; 
}

#foot .top,
#foot .text_middle,
#foot .text_bottom {
  position: relative;
  top: 2rem;
  z-index: 1;
}

.text_top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  max-width: 80%;
}

.text_top3 p span img {
  width: 7rem;
}

.text_top1 p,
.text_top2 p,
.text_top3 p {
  margin: 0;
  font-size: 9rem;
  line-height: 0.85;
  letter-spacing: -6px;
}


.text_top2 p {
    font-weight: 500;
}

.text_top1 p, .text_top3 p{
  font-weight: 300;
}

#foot .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -3rem;
  gap: 51rem;
}

#foot .top .icon_top {
  display: flex;
  align-items: center;
}


.icon_top img {
  width: 6rem;
  height: 6rem;
  transform: rotate(-90deg);
}

.text_middle {
  text-align: left;
  margin-top: 21rem;
}

.text_middle .icon_top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.text_middle .icon_top p {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.text_middle .icon_top img {
  width: 5.8rem;
  margin-top: -1rem;
  height: auto;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 96.5%;
  margin: -3rem 0rem 2rem 2rem;
  font-size: 1.2rem;
}

.hr_bottom {
  width: 100%;
  border-top: 3px white solid;
}
.text_bottom ul {
  list-style: none;
  color: var(--third-color);
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}


.text_bottom ul li {
  font-weight: 400;
  opacity: 0.9;
}



/* ------------ MEDIA QUERYS ------------ */

