/* VARIABLES CSS */

:root {
  --primary-color: #1D1D1B;
  --second-color: #ffffff;
  --third-color: #4F5DFF;
  --font-size: 18px;
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Grafiti'; 
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter Tight', sans-serif;
  max-width: 100%;    
  color: var(--primary-color);
}


html, body {
  max-width: 100%;    
  overflow-x: hidden;

}

hr {
  opacity: 100%;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}



/* HEADER HOME  */

header {
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem; 
  height: auto;       
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}

.menu-desktop li:first-child a {
    color: rgba(0, 0, 0, 0.264);
}


.logo{
  margin: 2rem 0rem 14rem 2rem;
  width: 10%;
  filter: invert(1);
}

/* ----- MENU RESPONSIVE  */


.navbar-a {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  position: relative;
  left: clamp(1rem, 100vw - 18rem, 45rem);
  top: -19rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {

  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--primary-color);
  text-decoration: none;
}

.toggle_icon-a {
color: var(--primary-color);
}
.menu-toggle-a {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color:var(--second-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile-a {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile-a li {
  margin: 1.2rem 0; 
}

.menu-mobile-a a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile-a.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle-a {
    display: none !important;
  }
  .menu-mobile-a {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle-a {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar-a {
    display: block; 
  }
}
/* -------------  */

.header_arrow img {
    width: 10rem;
    margin-bottom: -6rem;
    rotate: -180deg;
}
.text_header {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 3.5rem;
}

.text_header p {
    font-size: 18rem;
    letter-spacing: -2px;
    font-weight: 500;
}

/* -------- FOTOS ----------  */

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 5px;
    display: block;
}

.img-top {
    height: 900px;
}

.img-side {
    height: 800px;
}

.container-fluid {
    width: 95%;
}

.text1 p {
    width: 41rem;
    margin: 15rem 0rem 15rem 70rem;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
}

.video-project {
    margin: 0rem 0rem 0rem 4rem;
    width: 94%;
}

.text2 p {
    width: 42rem;
    margin: 19rem 0rem 9rem 14rem;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
}

.text3 p {
    width: 38rem;
    margin: 7rem 0rem 18rem 71rem;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
}

.img-four {
    height: 600px;
}



/* -------- QUOTE --------  */

.quote-container {
    background-color: #000;
    padding: 6rem;
    border-radius: 0.5rem;
    width: 95%;
    height: 29rem;
    margin: 10rem auto;
}

.quote-content {
    display: flex;
    margin-left: -1rem;
    gap: 1rem;
}

.quote-mark {
   font-size: 20rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    margin-top: -2rem;
    margin-right: 0.5rem;
    margin-left: 6rem;
}

.quote-text {
   width: 65rem;
    font-size: 4.2rem;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
    color: #fff;

}

.quote-attribution {
  font-size: 1.5rem;
    margin-top: -3rem;
    margin-left: 18rem;
    color: #fff;
    opacity: 0.7;
}

/* FOOTER  */

/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  margin-top: 10rem;
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: #1d1d1b2b;
  font-size: 7rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -11px;
  padding: 0 2%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



#foot {
  position: relative;
  width: 100%;
  height: 93vh;
  padding: 4rem;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: -4rem;
}

#foot .img_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  margin-left: 2rem;
  height: 100%;
  z-index: 0;
}

.text_top_o b {
  font-weight: 400; 
  color: white;
}

#foot .top,
#foot .text_middle_o,
#foot .text_bottom {
  position: relative;
  top: 2rem;
  z-index: 1;
}

.text_top_o {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  max-width: 80%;
}

.text_top3_o p span img {
  width: 7rem;
  filter: invert(1);
}

.text_top1_o p,
.text_top2_o p,
.text_top3_o p {
  margin: 0;
  font-size: 9rem;
  line-height: 0.85;
  letter-spacing: -6px;
  color: white;
}


.text_top2 p {
    font-weight: 400;
}

.text_top1 p, .text_top3 p{
  font-weight: 300;
}

#foot .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -3rem;
  gap: 51rem;
}

#foot .top .icon_top_o {
  display: flex;
  align-items: center;
}


.icon_top_o img {
  width: 6rem;
  height: 6rem;
  transform: rotate(-90deg);
  filter: invert(1);
}

.text_middle_o {
  text-align: left;
  margin-top: 21rem;
}

.text_middle_o .icon_top_o {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.text_middle_o .icon_top_o p {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -2px;
  color: var(--second-color);
}

.text_middle_o .icon_top_o img {
  width: 5.8rem;
  margin-top: -1rem;
  height: auto;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 96.5%;
  margin: -3rem 0rem 2rem 2rem;
  font-size: 1.2rem;
}

.hr_bottom {
  width: 100%;
  border-top: 3px white solid;
}
.text_bottom ul {
  list-style: none;
  color: var(--third-color);
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}


.text_bottom ul li {
  font-weight: 400;
  opacity: 0.9;
}










/* ---------------------- PAGINA PROJECT ---------------------- */

.text_top1 {
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

.text_top {
    display: flex;
    flex-direction: row;
    margin: -12rem 0rem 0rem 4rem;
}

.text_top p {
    font-size: 7rem;
    font-weight: 400;
    width: 48rem;
    line-height: 1;
    letter-spacing: -2px;
} 

.text_bottom1 p {
  font-size: 5rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2px;
} 

.text_bottom1 {
    width: 60rem;
    margin-left: 56rem;
}

.icon-work1{
    width: 5rem;
    height: fit-content;
    rotate: 90deg;
    margin-left: -27rem;
    margin-top: 8rem;
} 

.icon-work2 {
    width: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.hr_header {
     width: 95%;
     border-top: 3px solid var(--primary-color);
    margin-left: 3rem;
} 