/* VARIABLES CSS */

:root {
  --primary-color: #1D1D1B;
  --second-color: #ffffff;
  --third-color: #4F5DFF;
  --font-size: 18px;
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Grafiti'; 
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter Tight', sans-serif;
  max-width: 100%;    
  color: var(--primary-color);
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}



/* HEADER HOME  */

header {
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem; 
  height: auto;       
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}

.menu-desktop li:first-child a {
    color: rgba(0, 0, 0, 0.264);
}


.logo{
  margin: 2rem 0rem 14rem 2rem;
  width: 10%;
  filter: invert(1);
}

/* ----- MENU RESPONSIVE  */


.navbar-a {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  position: relative;
  left: clamp(1rem, 100vw - 18rem, 45rem);
  top: -19rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {

  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--primary-color);
  text-decoration: none;
}

.toggle_icon-a {
color: var(--primary-color);
}
.menu-toggle-a {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color:var(--second-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile-a {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile-a li {
  margin: 1.2rem 0; 
}

.menu-mobile-a a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile-a.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle-a {
    display: none !important;
  }
  .menu-mobile-a {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle-a {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar-a {
    display: block; 
  }
}
/* -------------  */

.header_arrow img {
    width: 10rem;
    margin-bottom: -5rem;
    rotate: -180deg;
}
.text_header2 {
    display: flex;
    flex-direction: column;
    margin-left: 3.5rem;
    margin-top: 4rem;
}

.text_header2 p {
    font-size: 15rem;
    letter-spacing: -2px;
    font-weight: 500;
}

/* -------- FOTOS ----------  */

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 5px;
    display: block;
}

.img-top {
    height: 900px;
}

.img-side {
    height: 800px;
}

.container-fluid {
    width: 96.5%;
    overflow-x: hidden; 
    box-sizing: border-box;
    position: relative; 
    margin-left: 2rem;
}

.text1 p {
    width: min(44rem, 49vw);
    margin: 21rem 0 20rem 0rem;
    font-size: 1.8rem;
    transform: translateX(38rem);
    line-height: 1.2;
    text-align: center;
    max-width: 100%; 
    box-sizing: border-box;
    word-wrap: break-word;
}

.video-project {
    margin: 0 0 0 min(4rem, 3vw); 
    width: min(94%, 100vw);
    max-width: 100%; 
    box-sizing: border-box;
    display: block; 
}

.text1 {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.text1 p,
.video-project {
    position: relative; 
    z-index: 1; 
}



.text2,
.text3 {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden; /* Este overflow debe estar aquí */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text2 p {
    width: min(43rem, 80vw);
    margin: 19rem 0 9rem 0;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0 1rem;

    /* Cambiamos transform por posición absoluta */
    position: relative;
    left: -27rem;
}

.text3 p {
    width: min(43rem, 80vw);
margin: 6rem 0 19rem 0;
    font-size: 1.8rem;
    line-height: 1.2;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
    padding: 0 1rem;

    /* Cambiamos transform por posición absoluta */
    position: relative;
    left: 28rem;

}


.img-four {
    height: 600px;
}



/* -------- QUOTE --------  */

.quote-container {
    background-color: #000;
    padding: 6rem;
    border-radius: 0.5rem;
    width: 95%;
    height: 29rem;
    margin: 10rem auto;
}

.quote-content {
    display: flex;
    margin-left: -1rem;
    gap: 1rem;
}

.quote-mark {
   font-size: 20rem;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    margin-top: -2rem;
    margin-right: 0.5rem;
    margin-left: 6rem;
}

.quote-text {
   width: 65rem;
    font-size: 4.2rem;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
    color: #fff;

}

.quote-attribution {
  font-size: 1.5rem;
    margin-top: -3rem;
    margin-left: 18rem;
    color: #fff;
    opacity: 0.7;
}









/* ---------------------- PAGINA PROJECT ---------------------- */

.text_header {
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

.text_headertop {
    display: flex;
    flex-direction: row;
    margin: -12rem 0rem 0rem 6rem;
}

.text_headertop p {
    font-size: 7rem;
    font-weight: 400;
    width: 48rem;
    line-height: 1;
    letter-spacing: -8px;
} 

.text_bottom1 p {
  font-size: 5rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -2px;
} 

.text_bottom1 {
    width: 60rem;
    margin-left: 54rem;
}

.icon-work1{
    width: 5rem;
    height: fit-content;
    rotate: 90deg;
    margin-left: -29rem;
    margin-top: 8rem;
} 

.icon-work2 {
    width: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.hr_header {
     width: 95%;
     border-top: 3px solid var(--primary-color);
    margin-left: 3rem;
    margin-bottom: 2rem;
} 


/* ---------  */


  .project-card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 84%;
  }

  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  }

  .position-relative {
    position: relative;
  }

  .circle-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #4a6cf7;
    color: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 10;
    transition: background-color 0.3s ease;
  }

  .circle-link:hover {
    background-color: #3a5bd9;
  }

  .arrow-icon {
    width: 3rem;
    height: fit-content;
    filter: invert(1);
  }

  .project-title1,  .project-title2,  .project-title3,  .project-title4,  .project-title5 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: -2px;
    color: #333;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  .tag {
    background-color: #4a6cf7;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 1rem;
    display: inline-block;
    border: 1px black solid;
    vertical-align: middle;
  }

  .project-info1 {
    margin-top: 2rem;
    display: flex;
    gap: 26rem;
    justify-content: space-between;
  }


  .project-info2 {
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
  }
  
  .project-info3 {
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
  }


  .project-info4 {
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
  }

  .project-info5 {
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
    justify-content: space-between;
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 3rem;
    height: 90%;
}


/* FOOTER  */

/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  margin-top: 10rem;
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: #1d1d1b2b;
  font-size: 7rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -11px;
  padding: 0 2%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



#foot {
  position: relative;
  width: 100%;
  height: 93vh;
  padding: 4rem;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: -4rem;
}

#foot .img_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  margin-left: 2rem;
  height: 100%;
  z-index: 0;
}

.text_top b {
  font-weight: 500; 
  color: var(--second-color);
}

#foot .top,
#foot .text_middle,
#foot .text_bottom {
  position: relative;
  top: 2rem;
  z-index: 1;
  color: var(--second-color);

}

.text_top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  max-width: 80%;
  color: var(--second-color);

}

.text_top3 p span img {
  width: 7rem;
  filter: invert(1);
}

.text_top1 p,
.text_top2 p,
.text_top3 p {
  margin: 0;
  font-size: 9rem;
  line-height: 0.85;
  letter-spacing: -6px;
  color: var(--second-color);

}


.text_top2 p {
    font-weight: 500;
}

.text_top1 p, .text_top3 p{
  font-weight: 300;
}

#foot .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -3rem;
  gap: 51rem;
}

#foot .top .icon_top {
  display: flex;
  align-items: center;
}


.icon_top img {
  width: 6rem;
  height: fit-content;
  transform: rotate(-90deg);
  filter: invert(1);
}

.text_middle {
  text-align: left;
  margin-top: 21rem;
}

.text_middle .icon_top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.text_middle .icon_top p {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -2px;
  color: var(--second-color);

}

.text_middle .icon_top img {
  width: 5.8rem;
  margin-top: -1rem;
  height: auto;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 96.5%;
  margin: -1rem 0rem 2rem 2rem;
  font-size: 1.2rem;
}

.text_bottom ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}


.text_bottom ul li {
  font-weight: 400;
  color: var(--third-color);
  opacity: 0.9;
}



                      






      /* ----------------- MEDIA QUERYS ----------------------  */



        @media (max-width: 1899px) {
            .text_bottom1 {
                margin-left: 47%;
            }
        }

        @media (max-width: 1799px) {
            .text_bottom1 {
                margin-left: 44%;
            }
        }

         @media (max-width: 1699px) {
            .text_bottom1 {
                margin-left: 40%;
            }
        }

         @media (max-width: 1599px) {
            .text_bottom1 {
                margin-left: 36%;
            }
        }

         @media (max-width: 1499px) {
            .text_bottom1 {
                margin-left: 33%;
            }
        }
         @media (max-width: 1399px) {
            .text_bottom1 {
                margin-left: 28%;
            }
        }
         @media (max-width: 1299px) {
            .text_bottom1 {
                margin-left: 20%;
            }
        }

         @media (max-width: 1199px) {
            .text_bottom1 {
                margin-left: 12%;
            }
        }

         @media (max-width: 1099px) {
            .text_bottom1 {
                margin-left: 13%;
            }

            .text_bottom1 p {
              font-size: 4.5rem;
              width: 90%;
            } 

            .hr_header {
              width: 93%;
            }

            .text_top p {
              font-size: 6rem; 
            }

            .icon-work1 {
              width: 4.5rem;
              margin-left: -31rem;
              margin-top: 7rem;
            }
        }

        @media (max-width: 999px) {
            .text_bottom1 {
                margin-left: 8%;
            }

            .text_bottom1 p {
              font-size: 4rem;
              width: 84%;
            } 

            .text_top1 {
              gap: 19rem;
            }

            .icon-work2 {
              width: 4rem;
              margin-left: 1.5rem;
              margin-right: 1.5rem;
            }

             .project-info1 {
              gap: 14rem;
            }
        }

         @media (max-width: 899px) {
            .text_bottom1 {
                margin-left: 8%;
            }

            .text_bottom1 p {
              font-size: 4rem;
              width: 84%;
            } 
        }

         @media (max-width: 820px) {
            .text_bottom1 {
                margin-left: 8%;
            }

            .text_bottom1 p {
              font-size: 3.5rem;
            } 

            .text_top1 {
              gap: 27rem;
            }

            .hr_header {
              width: 90%;
            }

            .project-info1 {
              gap: 14rem;
            }
        }

  