/* VARIABLES CSS */

:root {
  --primary-color: #1D1D1B;
  --second-color: #ffffff;
  --third-color: #4F5DFF;
  --font-size: 18px;
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Grafiti'; 
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter Tight', sans-serif;
  max-width: 100%;    
}


html, body {
  max-width: 100%;    
  overflow-x: hidden;

}

hr {
  opacity: 100%;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}



/* HEADER HOME  */

header {
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  height: 85rem;
  max-width: 100%;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25.5rem;
}


.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}



.logo {
  margin: 2rem 0rem 14rem 2rem;
  width: 10%;
  filter: invert(1);
}

/* ----- MENU RESPONSIVE  */


.navbar-a {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  position: relative;
  left: clamp(1rem, 100vw - 18rem, 45rem);
  top: -19rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {

  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
    color: var(--primary-color);
  text-decoration: none;
}

.menu-toggle-a {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--second-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile-a {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile-a li {
  margin: 1.2rem 0; 
}

.menu-mobile-a a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile-a.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle-a {
    display: none !important;
  }
  .menu-mobile-a {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle-a {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar-a {
    display: block; 
  }
}
/* -------------  */