/* VARIABLES CSS */

:root {
  --primary-color: #1D1D1B;
  --second-color: #ffffff;
  --third-color: #4F5DFF;
  --font-size: 18px;
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Grafiti'; 
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter Tight', sans-serif;
  max-width: 100%;    
  color: var(--primary-color);
}


html, body {
  max-width: 100%;    
  overflow-x: hidden;

}

hr {
  opacity: 100%;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}



/* HEADER HOME  */

header {
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow: hidden;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 3rem; 
  height: auto;       
}
.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;

}

.menu-desktop li:first-child a {
    color: rgba(0, 0, 0, 0.264);
}


.logo{
  margin: 2rem 0rem 14rem 2rem;
  width: 10%;
  filter: invert(1);
}

/* ----- MENU RESPONSIVE  */


.navbar-a {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  position: relative;
  left: clamp(1rem, 100vw - 18rem, 45rem);
  top: -19rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {

  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--primary-color);
  text-decoration: none;
}

.toggle_icon-a {
color: var(--primary-color);
}
.menu-toggle-a {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color:var(--second-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile-a {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile-a li {
  margin: 1.2rem 0; 
}

.menu-mobile-a a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile-a.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle-a {
    display: none !important;
  }
  .menu-mobile-a {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle-a {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar-a {
    display: block; 
  }
}
/* -------------  */

.header_arrow img {
    width: 10rem;
    margin-bottom: -6rem;
    rotate: -180deg;
}
.text_header {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 3.5rem;
}

.text_header p {
    font-size: 18rem;
    letter-spacing: -2px;
    font-weight: 500;
}

/* -------- FOTOS ----------  */

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 5px;
    display: block;
}

.img-top {
    height: 900px;
}

.img-side {
    height: 800px;
}

.container-fluid {
    width: 95%;
}

.text1 p {
    width: 38rem;
    margin: 15rem 0rem 15rem 77rem;
    font-size: 1.5rem;
}

.video-project {
    margin: 0rem 0rem 0rem 4rem;
    width: 94%;
}

.text2 {
    width: 38rem;
    margin: 15rem 0rem 15rem 77rem;
    font-size: 1.5rem;
}

.text3 {
    width: 38rem;
    margin: 15rem 0rem 15rem 77rem;
    font-size: 1.5rem;
}
