/* VARIABLES CSS */

:root {
  --primary-color: #1D1D1B;
  --second-color: #ffffff;
  --third-color: #4F5DFF;
  --font-size: 18px;
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Grafiti'; 
}

.inter-tight {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}




/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter Tight', sans-serif;
  max-width: 100%;    
}

hr {
  opacity: 100%;
}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}


/* POP UP  */
.cookie-banner {
  position: fixed;
  bottom: 1.5rem; 
  left: 1.5rem;
  max-width: 50rem;
  width: calc(100% - 3rem);
  background: white;
  padding: 1.75rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  z-index: 1000;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  font-size: 1rem;
}

.cookie-banner.show {
  opacity: 1;
  transform: translateY(0);
}

.cookie-banner h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 0;
}

.cookie-banner p {
  font-size: 1.4rem;
  color: #444;
  margin: 0;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 1.7rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  color: var(--primary-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease, color 0.2s ease;
}

.close-btn:hover {
  background: var(--second-color);
  color: var(--primary-color);
}

.cookie-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}

.btn {
  padding: 0.85rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
  flex: 1;
  min-width: 120px;
  text-align: center;
}

.primary {
  background: var(--primary-color);
  color: var(--second-color);
  font-weight: 400;

}

.primary:hover {
  background: #d1d1d1;
  transform: translateY(-2px);
  color: #000000;
}

.secondary {
  background: transparent;
  color: #555;
  font-weight: 400;
  border: 1px solid #ddd;
}

.secondary:hover {
  background: #d1d1d1;
  transform: translateY(-2px);

  color: var(--primary-color);
}


/* HEADER HOME  */

header {
  background-color: var(--primary-color);
  color: var(--second-color);
  margin: 0px;
  padding: 0px;
  height: 85rem;
  max-width: 100%;    
}

.header_up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25.5rem;
}


.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;

}

.menu > li > a {
  color: var(--second-color);
  text-decoration: none;
}


.logo {
  margin: -2rem 0rem 0rem 2rem;
  width: 100%;
  max-width: 35rem;

}


/* ----- MENU RESPONSIVE  */


.navbar {
  width: 15rem;
  height: 12rem;
  padding: 1.2rem;

  left: clamp(1rem, 100vw - 16rem, 45rem);
  
  top: -22rem;
  box-sizing: border-box;

  transition: 
    background-color 0.6s ease, 
    border-radius 0.6s ease,
    left 0.4s ease;
  
}

.menu-desktop {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-right: 4.5rem;
  margin-top: 4rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

.menu-desktop a {
  color: var(--second-color);
  text-decoration: none;
}

.menu-toggle {
  background: none;
  border: none;
  width: 8rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5rem;
  margin-bottom: 1.2rem;
  border-radius: 32px;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--second-color);
  cursor: pointer;
  display: none; 
  align-items: center;
  gap: 0.5rem;
}

.menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 0.6;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}

.menu-mobile li {
  margin: 1.2rem 0; 
}

.menu-mobile a {
  color: var(--second-color);
  text-decoration: none;
  display: block;
}

.menu-mobile.active {
  max-height: 150px; 
}


@media (min-width: 1000px) {
  .menu-toggle {
    display: none !important;
  }
  .menu-mobile {
    display: none !important;
  }
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: flex;
    justify-content: center;
  }

  .menu-desktop {
    display: none;
  }

  .navbar {
    display: block; 
  }
}

/* -------------  */


.text_header {
  display: flex;
 gap: clamp(2rem, 24vw, 34rem);line-height: 0.8;
 margin: 13rem 0rem 0rem 2rem;
  flex-direction: row;
  align-items: flex-end;
}

.texth_1 p {
  font-size: 1.7rem;
  letter-spacing: -1px;
  line-height: 1;
  width: 20rem;
  font-weight: 400;
  margin-left: 2rem;
}

.texth_2 b {
  font-weight: 500; 
  
}

.texth-2 {
  display: flex;
  flex-direction: column;
}

.icon-img {
  width: 7%;
  filter: invert(1);
}

.texth_2 p:first-child {
  margin-left: 11rem;
}

.texth_2 p:last-child {
  margin-left: 36rem;
}

.texth_2 p {
  font-size: 6rem;
  width: 70rem;
  font-weight: 400;
  margin-left: 2rem;
}

.prueba {
  margin-right: 3.5rem;
  width: 100%;
  max-width: 70rem;
}


#work > p {
  font-size: 6rem;
  margin: 1.5rem 0rem 0rem 2rem;
  font-weight: 500;
  letter-spacing: -5px;
}


/* MARQUEE  */

.marquework {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquework .wrapper {
  display: flex;
  align-items: center;
  animation: marquework 9s linear infinite;
  width: max-content; 
}

.marquework h1 {
  color: #1d1d1b2b;
  font-size: 7rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -11px;
  padding: 0 2.5%;
}

@keyframes marquework {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* GRID  */

.circle-link {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #4F5DFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2;
}

.arrow-icon {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(1);
}

.circle-link:hover {
  transform: scale(1.1);
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  display: block;
}


.all {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 5rem;
  margin: 3rem 0rem 0rem 0rem;
}


.allwork img {
  width: 5.5rem;
  margin-left: 2rem;  
  margin-top: -0.8rem;
}


.title_know {
  
  display: flex;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: -5px;
  font-size: 6rem;
  margin: 8rem 0rem 0rem 0rem;
}


/* TEXTO  */

.text1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
  margin: 22rem 25rem 15rem 39rem;
  
}

.text {
  display: flex;
  flex-direction: column;
  width: 35%;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
  margin: 0rem 25rem 27rem 39rem;
  
}

.text1 > p,
.text > p {
  font-size: 3rem;
  margin-bottom: 0rem;
  opacity: 0.2; 
  transition: opacity 0.4s ease;
}


.video_lola  video {
  width: 55%;
  margin-left: 26rem;
  filter: grayscale(1);
  margin-bottom: 20rem;
  transition: transform 0.2s ease-out;
  transform-origin: center center;
}

.video_lola  video:hover {
  filter: grayscale(0);
}

/* GRID STATS  */

.stat-card {
  border-radius: 5px;        
  padding: 2.5rem;
  text-align: left;
  height: 22rem;
  color: var(--third-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.stat-title {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  opacity: 0.85;
}

.stat-blue {
  background-color: var(--third-color);
}

.stat-number {
  font-size: 10rem;
  font-weight: 500;
  letter-spacing: -8px;
  margin: 0;
  line-height: 1;
}

.plus, .percent {
  font-size: 3rem;
  vertical-align: baseline;
  font-weight: 200;
  font-family: "Inter Tight";
  margin-left: -2rem;
}

.plus, .plus {
  font-size: 4rem;
  vertical-align: baseline;
  font-family: "Inter Tight";
  font-weight: 200;
  margin-left: 0.5rem;

}

.container-fluid {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin-top: 2rem;
  width: 92%;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* --------  */

.text-b {
  font-size: 8rem;
  width: 60%;
  margin: 4rem 0rem 3rem 66rem;
  line-height: 0.8;
  letter-spacing: -3px;
  font-weight: 500;
}

/* ABOUT US  */

#about_us {
  position: relative;
  height: 100rem;
}

.title_about_us {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: -5px;
  font-size: 5rem;
  margin: 20rem 0rem 0rem 13rem;
}


.about_us_arrow img {
  width: 5.5rem;
  margin-left: 2rem;  
  margin-top: -0.8rem;
}


#about_us .logo_fondo {
  position: absolute;
  overflow: hidden;
  top: 23rem;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 0;             
}

.text_about_us{
  position: relative;      
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 13rem;

}

.text_about_us p {
  font-family: "Inter Tight", sans-serif;
  line-height: 1.2;
  letter-spacing: -1px;
  font-size: 2rem;
  margin-top: 6rem;
  text-align: center; 
  opacity: 0.2;
  transition: opacity 0.4s ease;
}

.text_about_us p:first-child {
  margin-left: 24.3rem;
  margin-top: 10rem;
  width: 17%;
  font-weight: 400;

}

.text_about_us p:nth-child(2) {
  margin-left: 48rem;
  margin-top: 30rem;
  width: 19%;
}

.text_about_us p:last-child {
  margin-left: 21.5rem;
  margin-top: 40rem;
  width: 20%;
  font-weight: 400;

}

.vertical1 {
  width: 0.2rem;
  top: 10rem;
  left: 34rem;
  height: 82px;
  opacity: 0.2;
  background-color: black;
  border: none;
  position: absolute;
  z-index: 1;
}

.vertical2 {
  width: 0.2rem;
  top: 34rem;
  left: 34rem;
  opacity: 0.2;
  height: 1560px;
  background-color: black;
  border: none;
  position: absolute;
  z-index: 1;
}

.vertical3 {
  width: 0.2rem;
  top: 143rem;
  left: 34rem;
  opacity: 0.2;
  height: 82px;
  background-color: black;
  border: none;
  position: absolute;
  z-index: 1;
}


.effect-blur {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease, filter 0.6s ease;
}

.effect-blur.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

.effect2 {
  opacity: 0;
  transform: scale(0.9);
transition: opacity 0.8s ease, transform 0.8s ease; 
}

.effect2.active {
  opacity: 1;
  transform: scale(1);
}



/* WORK WITH US  */


#work_with_us {
  background-color: var(--primary-color);
  margin-top: 60rem;
  color: var(--second-color);
}

.title_work {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  letter-spacing: -5px;
  gap: 2rem;
  font-size: 8rem;
  margin: 10rem 0rem 6rem 13rem;
  justify-content: flex-end;
}


.work_arrow img {
  width: 8rem;
  margin-right: 2rem;
  margin-top: -0.8rem;
  filter: invert(1);
}

.form {
  display: flex;
  letter-spacing: -5px;
  gap: 1rem;
  line-height: 0.8;
  flex-direction: column;
  margin-left: 1rem;
}

.name, .email, .project {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-end;
}

.name p, .email p, .project p, .hello p {
  font-size: 8rem;
  margin-bottom: 0rem;
}

.hello p {
  margin-left: 39rem;
}

.name input, .email input, .project input {
  background-color: transparent;
  height: 7rem;
  text-align: center;
  font-size: 2rem;
  border: 0px;
  border-bottom: 1px white solid;
}

.name input {
  width: 74rem;
}

.email input {
  width: 55rem;
}

.project input {
  width: 56rem;
}

.form_button {
  font-size: 3rem;
  margin: 4rem 0rem 3rem 108rem;
  color: #000000;
  padding: 1rem;
  width: 9rem;
  letter-spacing: -2px;
  border-radius: 0.5rem;
  background-color: white;
  text-decoration: none;

}

.form input {
  color: #fff !important;
}

.form input::placeholder {
  color: #bfbfbf !important; 
}

.form input:focus {
  outline: none;
  box-shadow: none;
}


/* BRANDS  */

#opinions {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  padding: 6rem 2rem;
  text-align: center;
  overflow: hidden;
}

.h1_opinions h1 {
  font-size: 5.5rem;
  margin-left: 2rem;
  letter-spacing: -5px;
}

.five {
  display: flex;
  flex-direction: row;
  margin-left: 6rem;
  margin-top: 6rem;
}

.in {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.review {
  font-size: 1.6rem;
  line-height: 1.3;
  letter-spacing: -0.5px;
  margin-top: 1rem;
  color: var(--second-color);
}

.opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
  border-radius: 0.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 26rem;
  color: var(--second-color);
  height: 44rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease;
}

.opinion1, .opinion4 {
  background-color: var(--third-color);
}

.opinion2, .opinion5 {
  background-color: var(--primary-color);
}

.opinion3 {
  background-color: #9a9a9a;
}

#opinions .opinion1:hover,
#opinions .opinion2:hover,
#opinions .opinion3:hover,
#opinions .opinion4:hover,
#opinions .opinion5:hover {
  transform: translateY(-10px);
}

.star-opinions {
  display: flex;
  gap: 0.2rem;
}

.star-o {
  color: var(--second-color);
  font-size: 1.6rem;
  margin: 0;
}

.brand {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}


.opinion1 { 
  transform: rotate(-11deg);
}
.opinion2 { 
  transform: rotate(-6deg);
}
.opinion3 { 
  transform: rotate(-2deg); 
}
.opinion4 { 
  transform: rotate(12deg); 
}
.opinion5 { 
  transform: rotate(10deg); 
}


/* FOOTER  */

/* MARQUEE  */

.marquefooter-r,
.marquefooter-l {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.marquefooter-r {
  margin-top: 10rem;
  margin-bottom: -2rem;
}

.marquefooter-r .wrapper,
.marquefooter-l .wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.marquefooter-r .wrapper {
  animation: marquefooter-r 12s linear infinite;
}

.marquefooter-l .wrapper {
  animation: marquefooter-l 12s linear infinite;
}

.marquefooter-r h1,
.marquefooter-l h1 {
  color: #1d1d1b2b;
  font-size: 7rem;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: -11px;
  padding: 0 2%;
}

@keyframes marquefooter-r {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes marquefooter-l {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}



#foot {
  position: relative;
  width: 100%;
  height: 93vh;
  padding: 4rem;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: -4rem;
}

#foot .img_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 98.5%;
  margin-left: 2rem;
  height: 100%;
  z-index: 0;
}

.text_top b {
  font-weight: 500; 
}

#foot .top,
#foot .text_middle,
#foot .text_bottom {
  position: relative;
  top: 2rem;
  z-index: 1;
}

.text_top {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  max-width: 80%;
}

.text_top3 p span img {
  width: 7rem;
  filter: invert(1);
}

.text_top1 p,
.text_top2 p,
.text_top3 p {
  margin: 0;
  font-size: 9rem;
  line-height: 0.85;
  letter-spacing: -6px;
}


.text_top2 p {
    font-weight: 500;
}

.text_top1 p, .text_top3 p{
  font-weight: 300;
}

#foot .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -3rem;
  gap: 51rem;
}

#foot .top .icon_top {
  display: flex;
  align-items: center;
}


.icon_top img {
  width: 6rem;
  height: 6rem;
  transform: rotate(-90deg);
}

.text_middle {
  text-align: left;
  margin-top: 21rem;
}

.text_middle .icon_top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.text_middle .icon_top p {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.text_middle .icon_top img {
  width: 5.8rem;
  margin-top: -1rem;
  height: auto;
}

.text_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 96.5%;
  margin: -3rem 0rem 2rem 2rem;
  font-size: 1.2rem;
}

.hr_bottom {
  width: 100%;
  border-top: 3px white solid;
}
.text_bottom ul {
  list-style: none;
  color: var(--third-color);
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}


.text_bottom ul li {
  font-weight: 400;
  opacity: 0.9;
}
















/* --------------- MEDIA QUERYS ---------------  */


@media (max-width: 1799px) {
  .text_header {
    gap: clamp(2rem, 24vw, 34rem);
  }

  .text-b {
    margin: 4rem 0rem 3rem 59rem;
  }

  .name input {
    width: 67rem;
  }

  .email input {
      width: 48rem;
  }

  .project input {
      width: 49rem;
  }

  .form_button {
      margin: 4rem 9rem 3rem 100.5rem;
  }

  .five {
    width: 98rem;
    margin-left: 6rem;
    margin-top: 6rem;
  }

  #foot .top {
      gap: 44rem;
  }

  .text_middle {
    text-align: left;
    margin-top: 7rem;
}
}

@media (max-width: 1699px) {
  .text_header {
    gap: clamp(2rem, 20vw, 34rem);
  }
   .text-b {
    margin: 4rem 0rem 3rem 53rem;
  }

  .name input {
    width: 61rem;
  }

  .email input {
      width: 42rem;
  }

  .project input {
      width: 43rem;
  }

  .form_button {
      margin: 4rem 9rem 3rem 94.5rem;
  }

  .hello p {
    margin-left: 34rem;
  }

  .text_about_us p:last-child {
      width: 24%;
  }

  .five {
    width: 91rem;
    margin-left: 6rem;
    margin-top: 6rem;
  }

  #foot .top {
      gap: 38rem;
  }

  .text_middle {
    text-align: left;
    margin-top: 7rem;
}

}

@media (max-width: 1599px) {
  .text_header {
    gap: clamp(2rem, 25vw, 34rem);
    margin-top: 0rem;
  }

  .texth_2 p {
    font-size: 5rem;
    width: 59rem;
    font-weight: 400;
    margin-left: 2rem;
  }

  .texth_2 p:last-child {
    margin-left: 28rem;
  }

  .video_lola video {
    margin-left: 23rem;
  }

  .text1 {
    margin: 22rem 25rem 15rem 35rem;
  }
  .text {
    margin: 18rem 25rem 19rem 35rem;
  }

   .text-b {
    margin: 4rem 0rem 3rem 47rem;
  }

  .name input {
    width: 55rem;
  }

  .email input {
      width: 36rem;
  }

  .project input {
      width: 37rem;
  }

  .form_button {
      margin: 4rem 9rem 3rem 88.5rem;
  }

  .text_about_us p:last-child {
      width: 24%;
  }

  .five {
    width: 85rem;
    margin-left: 5rem;
    margin-top: 6rem;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 22rem;
    height: 42rem;
  }

  .review {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .text_top1 p, .text_top2 p, .text_top3 p {
    font-size: 8rem;
  }

   #foot .img_footer {
    margin-left: 1.5rem;
  }
}

@media (max-width: 1499px) {
  .text_header {
    gap: clamp(2rem, 20vw, 34rem);
  }

  .video_lola video {
    margin-left: 22rem;
  }

  .text1 {
    margin: 22rem 25rem 15rem 32rem;
  }
  .text {
    margin: 18rem 25rem 19rem 32rem;
  }

  .text-b {
    font-size: 7rem;
  }

  .name input {
    width: 48rem;
  }

  .email input {
      width: 29rem;
  }

  .project input {
      width: 31rem;
  }

  .form_button {
      margin: 4rem 9rem 3rem 82.5rem;
  }

  .title_work {
    font-size: 7rem;
  }

  .work_arrow img {
    width: 7rem;
  }

  .text_about_us p:first-child {
    width: 21%;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 40rem;
    width: 21%;
  }

  .text_about_us p:last-child {
    width: 19%;
    margin-left: 25rem;
    margin-top: 37rem;
  }

  .five {
    width: 85rem;
    margin-left: 5rem;
    margin-top: 6rem;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 20rem;
    height: 37rem;
  }

  .star-o {
    font-size: 1.2rem;
  }

  .brand {
    font-size: 1.1rem;
  }

  .h1_opinions h1 {
    font-size: 4.5rem;
  }

  .review {
    font-size: 1.4rem;
    line-height: 1.15;
  }

  .text_top1 p, .text_top2 p, .text_top3 p {
    font-size: 7rem;
  }

  .text_middle .icon_top img {
    width: 5.5rem;
  }

  .text_middle .icon_top p {
    font-size: 7rem;
  }
}

@media (max-width: 1399px) {
  .text_header {
    gap: clamp(2rem, 15vw, 34rem);
  }

  .title_know {
    font-size: 5rem;
  }

  .about_us_arrow img {
    width: 5rem;
    margin-left: 2rem;
    margin-top: -0.8rem;
  }

  .text1 > p, .text > p {
    font-size: 2.5rem;
  }

  .text1 {
    margin: 22rem 25rem 15rem 31rem;
  }

  .text {
    margin: 22rem 25rem 15rem 31rem;
  }

  .video_lola video {
    margin-left: 20.5rem;
  }

  .stat-card {
    height: 19rem;
  }

  .text-b {
    font-size: 6rem;
  }

  .name input {
    width: 48rem;
  }

  .email input {
      width: 32rem;
  }

  .project input {
      width: 33rem;
  }

  .form_button {
      margin: 4rem 9rem 3rem 76.5rem;
  }

  .hello p {
    margin-left: 30rem;
  }

  .title_work {
    font-size: 7rem;
  }

  .work_arrow img {
    width: 7rem;
  }

  .title_about_us {
    font-size: 4.5rem;  
  }

  .about_us_arrow img {
    width: 5rem;
  }

  .vertical2 {
    max-height: 1450px; 
  }

  .vertical3 {
    top: 139rem;  
  }

  .text_about_us p {
    font-size: 1.8rem;
}

  .text_about_us p:first-child {
    width: 21%;
    margin-left: 24.3rem;
    margin-top: 11rem;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 40rem;
    width: 21%;
  }

  .text_about_us p:last-child {
    width: 19%;
    margin-left: 26rem;
    margin-top: 36rem;
  }
  .name p, .email p, .project p, .hello p {
    font-size: 7rem;
  }

  .name input, .email input, .project input {
    height: 6rem;
    font-size: 1.7rem;
  } 

  .five {
    width: 85rem;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    margin-left: 0rem;
    margin-top: 6rem;
  }

  .opinion2 {
    transform: rotate(4deg);
}
  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 31rem;
    height: 37rem;
  }

  .star-o {
    font-size: 1.5rem;
  }

  .brand {
    font-size: 1.5em;
  }

  .h1_opinions h1 {
    font-size: 4.5rem;
  }

  .review {
    font-size: 1.6rem;
    line-height: 1.15;
  }

  .text_top1 p, .text_top2 p, .text_top3 p {
    font-size: 6rem;
  }

  .text_middle .icon_top img {
    width: 5rem;
  }

  .text_middle .icon_top p {
    font-size: 6rem;
  }

  #foot {
    height: 86vh;
  }
  }



@media (max-width: 1299px) {
  .text_header {
    gap: clamp(2rem, 19vw, 34rem);
    margin-top: 5rem;
  }
  .texth_2 p {
    font-size: 4rem;
    width: 47rem;
    font-weight: 400;
    margin-left: 2rem;
  }

  .texth_2 p:last-child {
    margin-left: 21rem; 
  }

  .marquework h1 {
    font-size: 6rem;
  }

  .text {
    margin: 14rem 25rem 19rem 29rem;
  }

  .text1 {
    margin: 22rem 25rem 15rem 29rem;
  }

  .video_lola video {
    margin-left: 18.5rem;
  }

  .stat-number {
    font-size: 9rem;
  }

  .text-b {
    margin: 4rem 0rem 3rem 41rem;
  }

  .vertical1, .vertical2, .vertical3 {
    left: 31rem;
  }

  .text_about_us p:first-child {
    width: 21%;
    margin-left: 22.3rem;
    margin-top: 11rem;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 36rem;
    width: 21%;
  }

  .text_about_us p:last-child {
    width: 19%;
    margin-left: 23.5rem;
    margin-top: 35rem;
  }

  .name p, .email p, .project p, .hello p {
    font-size: 6rem;
  }

  .name input {
    width: 47rem;
  }

  .email input {
    width: 33rem;
  }

  .project input {
    width: 34rem;
  }

  .form_button {
    margin: 4rem 9rem 3rem 69.5rem;
  }

  .hello p {
    margin-left: 25rem;
  }

  #foot .top {
    gap: 32rem;
  }


}

@media (max-width: 1199px) {
  .text_header {
    gap: clamp(2rem, 14vw, 34rem);
  }

  .text {
    margin: 14rem 25rem 19rem 27rem;
  }

  .text1 {
    margin: 22rem 25rem 15rem 27rem;
  }

  .video_lola video {
    margin-left: 17rem;
  }

  .stat-number {
    font-size: 8.5rem;
  }

  .text-b {
    margin: 4rem 0rem 3rem 35rem;
  }

  .vertical1, .vertical2, .vertical3 {
    left: 30rem;
  }

  .text_about_us p:first-child {
    width: 20%;
    margin-left: 22.3rem;
    margin-top: 11rem;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 34rem;
    width: 25%;
  }

  .text_about_us p:last-child {
    width: 21%;
    margin-left: 22.5rem;
    margin-top: 33rem;
  }

  .name p, .email p, .project p, .hello p {
    font-size: 6rem;
  }

  .title_work {
    font-size: 6rem;
  }

  .work_arrow img {
    width: 6rem;
  } 

  .name input {
    width: 41rem;
  }

  .email input {
    width: 27rem;
  }

  .project input {
    width: 28rem;
  }

  .form_button {
    margin: 4rem 9rem 3rem 63.5rem;
  }

  .hello p {
    margin-left: 25rem;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 29rem;
    height: 37rem;
  }

  .review {
    font-size: 1.45rem;
    line-height: 1.15;
  }

  .marquefooter-r h1, .marquefooter-l h1 {
    font-size: 6rem;
  }

  #foot .top {
    gap: 26rem;
  }

  #foot {
    height: 75vh;
  }

 

}

@media (max-width: 1099px) {


  header {
    height: 86rem;
  }

  .text_header {
    gap: clamp(0rem, 1vw, 34rem);
        margin-top: 22rem;

  }

  .logo {
    margin: -3rem 0rem 0rem 2rem;
    width: 100%;
    max-width: 31rem;
}

  .text {
    margin: 14rem 25rem 19rem 23rem;
  }

  .text1 {
    margin: 15rem 25rem 15rem 23rem;
  }

  .video_lola video {
    margin-left: 16rem;
  }

  .stat-number {
    font-size: 8rem;
  }

  .text-b {
    margin: 4rem 0rem 3rem 29rem;
  }

  .vertical1, .vertical2, .vertical3 {
    left: 29rem;
  }

  .text_about_us p:first-child {
    width: 21%;
    margin-left: 22.3rem;
    margin-top: 11rem;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 34rem;
    width: 25%;
  }

  .text_about_us p:last-child {
    width: 24%;
    margin-left: 21rem;
    margin-top: 33rem;
  }

  .name input, .email input, .project input {
    height: 5rem;
    font-size: 1.4rem;
  }

  .title_work {
    font-size: 6rem;
  }

  .work_arrow img {
    width: 6rem;
  } 

  .name input {
    width: 35rem;
  }

  .email input {
    width: 21rem;
  }

  .project input {
    width: 22rem;
  }

  .form_button {
    margin: 4rem 9rem 3rem 58.5rem;
    font-size: 2.5rem;
    width: 8rem;
  }

  .h1_opinions h1 {
    font-size: 3.5rem;
    letter-spacing: -3px;
  }

  .hello p {
    margin-left: 25rem;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 26rem;
    height: 37rem;
  }

  .review {
    font-size: 1.45rem;
    line-height: 1.15;
  }

  .marquefooter-r h1, .marquefooter-l h1 {
    font-size: 6rem;
  }

  #foot .top {
    gap: 19rem;
  }

  #foot {
    height: 75vh;
  }
  .text_bottom {
    width: 95.5%;
  }

}

@media (max-width: 1000px) {

.logo {
  margin: -7rem 0rem 0rem 2rem;
  max-width: 25rem;
}

.menu-desktop { 
  margin: 1rem;
  margin-right: 3.5rem;
  margin-top: 4rem;
  gap: 6rem;
  font-size: 1.5rem;
}

.menu {
  margin: 1rem;
  margin-right: -0.5rem;
  margin-top: -1rem;
  font-weight: 300;
  gap: 6rem;
  font-size: 1.8rem;
}

  .text_header {
  margin-top: 14rem;
  gap: 11rem;
  line-height: 0.4;
}

.texth_1 p {
  font-size: 1.4rem;
  line-height: 1.1;
  width: 16rem;
  margin-left: 2rem;
}

.texth_2 p {
  font-size: 3rem;
}

.texth_2 p:first-child {
  margin-left: 9rem;
  margin-bottom: 1.4rem;
}

.texth_2 p:last-child {
  margin-left: 17rem;
}

.icon-img {
  width: 3.5%;
}

.cookie-banner {
  max-width: 36rem;
}

.cookie-banner h3 {
  font-size: 1.6rem;
}

.close-btn {
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  width: 2rem;
  height: 2rem;
}

.cookie-banner p {
  font-size: 1.3rem;
}

.btn {
  padding: 0.85rem 1.5rem;
  font-size: 1.3rem;
}

#work > p {
  font-size: 5rem;
  letter-spacing: -5px;
}

.marquework h1 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: -6px;
}

.arrow-icon {
  width: 2rem;
  height: 2rem;
}

.circle-link {
  width: 2.5rem;
  height: 2.5rem;
}

.title_know {
  letter-spacing: -3px;
  font-size: 4rem;
  margin: 6rem 0rem 0rem 0rem;
}

.about_us_arrow img {
  width: 3.7rem;
  margin-left: 1.5rem;
}

.text1 > p, .text > p {
  font-size: 2.3rem;
}

.text {
  width: 39%;
  line-height: 0.95;
  letter-spacing: -1px;
  margin: 0rem 25rem 21rem 20rem;
}

.text1 {
  width: 38%;
  line-height: 0.95;
  letter-spacing: -1px;
  margin: 19rem 25rem 10rem 20rem;
}

.video_lola video {
  margin-left: 14rem;
  margin-bottom: 10rem;
}

.stat-number {
  font-size: 7rem;
  letter-spacing: -8px;
}

.stat-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

.stat-card {
  padding: 2rem;
  text-align: left;
  height: 15rem;
  gap: 2rem;
}

.text-b {
  font-size: 5rem;
  margin: 3rem 0rem 3rem 29rem;
}

.title_about_us {
  letter-spacing: -2px;
  font-size: 3rem;
  margin: 24rem 0rem 0rem 8rem;
}

.title_about_us a img {
  width: 3rem;
  margin-left: 1rem;
  margin-top: -0.2rem;
}

.text_about_us p:first-child {
  margin-left: 15.3rem;
  margin-top: 12rem;
  width: 22%;
  font-weight: 400;
}

.text_about_us p {
  line-height: 1.1;
  letter-spacing: -1px;
  font-size: 1.6rem;
  margin-top: 6rem;
    
}

.vertical1 {
  width: 0.2rem;
  top: 10rem;
  left: 22rem;
  opacity: 0.2;
  background-color: black;
  border: none;
  position: absolute;
  z-index: 1;
}

.vertical2 {
  width: 0.2rem;
  top: 28rem;
  left: 22rem;
  max-height: 960px;
}

.vertical3 {
  width: 0.2rem;
  top: 99rem;
  left: 22rem;
}

.text_about_us p:nth-child(2) {
  margin-left: 28rem;
  margin-top: 2rem;
  width: 24%;
}

.text_about_us p:last-child {
  margin-left: 15.3rem;
  margin-top: 2rem;
  width: 22%;
}

#about_us {
  position: relative;
  height: 57rem;
}

.text_about_us {
  gap: 27rem;
}

.title_work {
  font-weight: 500;
  letter-spacing: -3px;
  gap: 2rem;
  font-size: 5rem;
  margin: 10rem 0rem 6rem 13rem;
}

.work_arrow img {
  width: 5rem;
  margin-right: 2rem;
  margin-top: -0.8rem;
}

.name p, .email p, .project p, .hello p {
  font-size: 5rem;
}

.hello p {
  margin-left: 19rem;
}

.name input {
  width: 34rem;
}

.name input, .email input, .project input {
  height: 4rem;
  font-size: 1.4rem;
}

.email input {
  width: 22rem;
}
.project input {
  width: 23rem;
}

.form_button {
  font-size: 2.5rem;
  margin: 2rem 0rem 2rem 52rem;
  padding: 1rem;
  width: 8rem;
  letter-spacing: -2px;
}

.h1_opinions h1 {
  font-size: 3rem;
  margin-left: 1rem;
  letter-spacing: -3px;
}

.opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
  width: 24.5rem;
  height: 41rem;
}

.opinion2 {
  transform: rotate(2deg);
}

.opinion4 {
  transform: rotate(8deg);
}

.opinion3 {
  transform: rotate(-4deg);
}

.review {
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.five {
  margin-left: 1rem;
  margin-top: 6rem;
  flex-wrap: wrap;
}

.marquefooter-r h1, .marquefooter-l h1 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: -8px;
}

.marquefooter-r {
  margin-top: 7rem;
  margin-bottom: -2rem;
}

#opinions {
  height: 161vh;
}

#foot {
  height: 63vh;
  padding: 3rem;
}

#foot .top {
  margin-top: -3rem;
  gap: 23rem;
}

.text_top1 p, .text_top2 p, .text_top3 p {
  font-size: 5rem;
  letter-spacing: -5px;
}

.icon_top img {
  width: 4rem;
  height: 4rem;
}

.text_middle .icon_top p {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -2px;
}

#foot .img_footer {
  top: 0;
  left: 0;
  width: 98.5%;
  margin-left: 1rem;
  height: 100%;
  z-index: 0;
}

.text_middle {
  text-align: left;
  margin-top: 13rem;
}

.text_middle .icon_top img {
  width: 3.8rem;
  margin-top: -1rem;
  height: auto;
}


.text_bottom {
  width: 96.5%;
  margin: -3rem 0rem 2rem 1rem;
  font-size: 1.2rem;
}

.text_bottom ul {
  gap: 1rem;
}

}



@media (max-width: 900px) {


  header {
    height: 74rem;
}
  .text_header {
    margin-top: 19rem;
    gap: 3rem;
    line-height: 0.4;
  }

  .texth_1 p {
    font-size: 1.2rem;
    line-height: 1.1;
    width: 14rem;
    margin-left: 2rem;
  }

  .text1 > p, .text > p {
    font-size: 2.1rem;
  } 

  .text1 {
    margin: 19rem 25rem 10rem 19rem;
  }

  .text {
    margin: 0rem 25rem 21rem 19rem;
  }

  .px-3 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .text-b {
    font-size: 4.5rem;
    margin: 3rem 0rem 3rem 26.5rem;
  } 

  .title_about_us {
    letter-spacing: -2px;
    font-size: 3rem;
    margin: 15rem 0rem 0rem 8rem;
  }

  .text_about_us p:first-child {
    margin-left: 14rem;
    margin-top: 12rem;
    width: 22%;
    font-weight: 400;
  }

  .text_about_us {
    gap: 22.5rem;
  }

  .vertical1 {
    width: 0.2rem;
    top: 10rem;
    left: 20rem;
    opacity: 0.2;
    background-color: black;
    border: none;
    position: absolute;
    z-index: 1;
  }

  .vertical2 {
   width: 0.2rem;
        top: 30rem;
        left: 20rem;
        max-height: 830px;
  }

  .vertical3 {
    width: 0.2rem;
    top: 92rem;
    left: 20rem;
  }

  .text_about_us p:first-child {
    margin-left: 14rem;
    margin-top: 12rem;
    width: 22%;
    font-weight: 400;
  }

  .text_about_us p:nth-child(2) {
    margin-left: 24rem;
    margin-top: 2rem;
    width: 24%;
  }

  .text_about_us p:last-child {
    margin-left: 13.5rem;
    margin-top: 1rem;
    width: 24%;
  }

  #work_with_us {
    background-color: var(--primary-color);
    margin-top: 51rem;
    color: var(--second-color);
  } 

  .title_work {
    font-weight: 500;
    letter-spacing: -3px;
    gap: 2rem;
    font-size: 5rem;
    margin: 10rem 0rem 6rem 13rem;
  }

  .work_arrow img {
    width: 5rem;
    margin-right: 2rem;
    margin-top: -0.8rem;
  }

  .hello p {
    margin-left: 19rem;
  }

  .name p, .email p, .project p, .hello p {
    font-size: 5rem;
  }

  .name input, .email input, .project input {
    height: 4rem;
    font-size: 1rem;
  }

  .name input {
    width: 28rem;
  }

  .email input {
    width: 17rem;
  }

  .project input {
    width: 17.5rem;
  }

  .form_button {
    font-size: 2.3rem;
    margin: 2rem 0rem 2rem 47rem;
    padding: 1rem;
    width: 7.5rem;
    letter-spacing: -2px;
  }

  #opinions {
    height: 130vh;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 22.5rem;
    height: 31rem;
    padding: 2rem 2rem;
  }

  .brand {
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-top: 0.3rem;
}

.star-o {
    color: var(--second-color);
    font-size: 1.3rem;
    margin: 0;
}

.review {
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: -0.5px;
    margin-top: 1rem;
    color: var(--second-color);
}

#foot .top {
    margin-top: -3rem;
    gap: 20rem;
}

.text_top1 p, .text_top2 p, .text_top3 p {
    font-size: 4.5rem;
    letter-spacing: -5px;
}

.text_middle .icon_top p {
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: -2px;
}

#foot .text_middle {
    position: relative;
    top: 2rem;
    z-index: 1;
}

.text_top3 p span img {
    width: 4rem;
    filter: invert(1);
}

.text_middle .icon_top img {
    width: 3.7rem;
    margin-top: -1rem;
    height: 4rem;
}

.text_middle .icon_top p {
    font-size: 4.5rem;
    font-weight: 500;
    letter-spacing: -2px;
}

.text_bottom {
    width: 96.5%;
    margin: -3rem 0rem 2rem 1rem;
    font-size: 1.1rem;
}
}


@media (max-width: 820px) {
   .texth_1 p {
    visibility: hidden;
  }

  .logo {
    margin: -10rem 0rem 0rem 2rem;
    max-width: 22rem;
  }

  .text_header {
    margin-top: 18rem;
    gap: 0rem;
  }

  #work > p {
    font-size: 4.5rem;
    letter-spacing: -5px;
  }
  .marquework h1 {
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: -6px;
  }

  .title_know {
    letter-spacing: -3px;
    font-size: 3.5rem;
    margin: 4rem 0rem 0rem 0rem;
  }

  .about_us_arrow img {
    width: 3.4rem;
    margin-left: 1rem;
  }

  .text1 {
    margin: 17rem 25rem 10rem 16rem;
  }

  .text {
    margin: 0rem 25rem 21rem 16rem;
  }

  .text1 > p, .text > p {
    font-size: 2rem;
  } 

  .video_lola video {
    margin-left: 11.5rem;
    margin-bottom: 10rem;
  }

  .stat-number {
    font-size: 7rem;
    letter-spacing: -8px;
  }

  .stat-card {
    padding: 1rem;
    text-align: left;
    height: 15rem;
    gap: 2rem;
  } 

  .px-3 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }  

  .text-b {
    font-size: 4rem;
    margin: 3rem 0rem 3rem 23rem;
  }

  .text_about_us p:first-child {
    margin-left: 14rem;
    margin-top: 12rem;
    width: 23%;
    font-weight: 400;
  }

  .text_about_us p:last-child {
    margin-left: 14rem;
    margin-top: 0rem;
    width: 24%;
  } 

  .title_work {
    font-weight: 500;
    letter-spacing: -2px;
    gap: 2rem;
    font-size: 4rem;
    margin: 10rem 0rem 6rem 13rem;  
  }

  .work_arrow img {
    width: 4rem;
    margin-right: 2rem;
    margin-top: -0.8rem;
  }

  .name p, .email p, .project p, .hello p {
    font-size: 4rem;
  }

  .name input, .email input, .project input {
    height: 3rem;
    font-size: 1rem;
  }

  .name input {
    width: 25.5rem;
  }

  .email input {
    width: 16rem; 
  }

  .project input {
    width: 16.5rem;
  }

  .form_button {
    font-size: 2.3rem;
    margin: 2rem 0rem 2rem 39.5rem;
    padding: 1rem;
    width: 7.5rem;
    letter-spacing: -2px;
  } 

  .h1_opinions h1 {
    font-size: 3rem;
    width: 60%;
    line-height: 1;
    margin-left: 2rem;
    text-align: left;
    letter-spacing: -2px;
  }

  .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
    width: 20.5rem;
    height: 31rem;
    padding: 2rem 2rem;
  }

  .opinion1 {
    transform: rotate(-6deg);
  }

  .opinion4 {
    transform: rotate(5deg);
  }

  .review {
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-top: 1rem;
    color: var(--second-color);
  }

  .brand {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 0.3rem;
  }

  .star-o {
    color: var(--second-color);
    font-size: 1.2rem;
    margin: 0;
  }

  .marquefooter-r h1, .marquefooter-l h1 {
    font-size: 4.5rem;
    font-weight: 300;
    letter-spacing: -8px;
  }

  #foot .top {
    margin-top: -3rem;
    gap: 13rem;
  }

  #foot {
    height: 53vh;
    padding: 3rem;
  }

  .text_middle .icon_top img {
    width: 3rem;
    margin-top: -1.2rem;
    margin-left: -1rem;
    height: 3rem;
  }

  .text_middle .icon_top p {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -2px;
  }

  .text_bottom {
    width: 96%;
    margin: -3rem 0rem 2rem 1rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .text_header {
        margin-top: 14rem;
        gap: 0rem;
        margin-left: -5rem;
    }

        #work > p {
        font-size: 4.5rem;
        letter-spacing: -5px;
    }

        .marquework h1 {
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: -6px;
    }

        .title_know {
        letter-spacing: -3px;
        font-size: 3.5rem;
        margin: 4rem 0rem 0rem 0rem;
    }

    .about_us_arrow img {
        width: 3.4rem;
        margin-left: 1rem;
    }

        .text1 {
        margin: 17rem 25rem 8rem 14rem;
                width: 41%;
    }

    .text {
        margin: 0rem 25rem 19rem 14rem;
                width: 42%;

    }

        .video_lola video {
        margin-left: 10rem;
        margin-bottom: 10rem;
    }

        .stat-number {
        font-size: 7rem;
        margin-left: 23rem;
        letter-spacing: -8px;
    }

    .one {
          margin-left: 27rem;
    }

        .stat-title {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }

        .text-b {
        font-size: 4rem;
        margin: 3rem 0rem 3rem 18rem;
    }

    .vertical1, .vertical2, .vertical3 {
    left: 19rem;
  }

      .text_about_us p:first-child {
        margin-left: 13rem;
        margin-top: 12rem;
        width: 27%;
        font-weight: 400;
    }

        .text_about_us p:nth-child(2) {
        margin-left: 21rem;
        margin-top: 2rem;
        width: 28%;
    }

        .text_about_us p:last-child {
        margin-left: 12.5rem;
        margin-top: 1rem;
        width: 31%;
    }

        .title_work {
        font-weight: 500;
        letter-spacing: -2px;
        gap: 2rem;
        font-size: 4rem;
        margin: 10rem 0rem 6rem 8rem;
    }

    .work_arrow img {
        width: 3.8rem;
        margin-right: 2rem;
        margin-top: -0.8rem;
    }

    .name input, .email input, .project input {
        height: 3rem;
        font-size: 0.8rem;
    }

    .name input {
        width: 21.5rem;
    }

        .email input {
        width: 13rem;
    }

    .project input {
        width: 13.5rem;
    }

        .name p, .email p, .project p, .hello p {
        font-size: 3.8rem;
    }

        .hello p {
        margin-left: 15rem;
    }

    .form {
    letter-spacing: -4px;
    }

    .form_button {
        font-size: 2.3rem;
        margin: 2rem 0rem 2rem 35.5rem;
        padding: 0.5rem;
        width: 6.5rem;
        letter-spacing: -2px;
    }

        #opinions {
        height: 135vh;
        padding: 3rem 2rem;
    }

    .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
        width: 18rem;
        height: 29rem;
        padding: 2rem 2rem;
    }

        .review {
        font-size: 1.1rem;
        line-height: 1.2;
        letter-spacing: -0.5px;
    }

    .star-o {
        color: var(--second-color);
        font-size: 1rem;
        margin: 0;
    }

        .brand {
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-top: 0.3rem;
    }

    .in {
    gap: 1rem;
}

    .marquefooter-r {
        margin-top: 3rem;
        margin-bottom: -2rem;
    }

        #foot .top {
        margin-top: -3rem;
        gap: 11rem;
    }

        .text_top1 p, .text_top2 p, .text_top3 p {
        font-size: 4rem;
        letter-spacing: -5px;
    }

        #foot {
        height: 51vh;
        padding: 3rem;
        margin-top: -3rem;
    }

        .text_bottom {
        width: 96%;
        margin: -3rem 0rem 2rem 1rem;
        font-size: 1rem;
    }

    
}


@media (max-width: 600px) {


  .menu-toggle {
    margin-left: 3rem;
    margin-bottom: 1.2rem;
    font-size: 1.3em;
  
}

.navbar {
    width: 13rem;
    height: 11rem;
    left: clamp(1rem, 100vw - 14rem, 45rem);
}

.menu-mobile {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 0.6;
    font-size: 1.3rem;
}

      .logo {
        margin: -11rem 0rem 0rem 2rem;
        max-width: 17rem;
    }

      .cookie-banner h3 {
        font-size: 1.4rem;
    }

        .cookie-banner p {
        font-size: 1.2rem;
    }

        .cookie-banner {
        max-width: 33rem;
    }

    .text_header {
        margin-top: 14rem;
        gap: 0rem;
        margin-left: -10rem;
    }

        .text1 > p, .text > p {
        font-size: 1.7rem;
    }

    .text1 {
        margin: 17rem 25rem 8rem 12rem;
      }

          .text {
        margin: 0rem 25rem 19rem 12rem;
        width: 42%;
    }

        .video_lola video {
        margin-left: 8.5rem;
        margin-bottom: 10rem;
    }

    
    .stat-number {
      font-size: 7rem;
      margin-left: 18rem;
      letter-spacing: -8px;
    }
    
    .one {
    margin-left: 21rem;
}
    .text-b {
        font-size: 3.5rem;
        margin: 3rem 0rem 3rem 15rem;
    }

        #about_us {
        position: relative;
        height: 40rem;
    }

       .title_about_us {
        letter-spacing: -2px;
        font-size: 2.7rem;
        margin: 15rem 0rem 0rem 3rem;
    }

        .title_about_us a img {
        width: 2.8rem;
        margin-left: 1rem;
        margin-top: -0.2rem;
    }

        .vertical1, .vertical2, .vertical3 {
        left: 12rem;
      }

      .text_about_us p {
        font-size: 1.4rem;

    }

        .text_about_us {
        gap: 20.5rem;
    }

        .vertical2 {
        width: 0.2rem;
        top: 28rem;
        max-height: 610px;
    }

    .vertical3 {
        width: 0.2rem;
        top: 75rem;
    }


        .text_about_us p:first-child {
        margin-left: 6.5rem;
        margin-top: 13rem;
        width: 31%;
        font-weight: 400;
    }
        .text_about_us p:last-child {
        margin-left: 6.5rem;
        margin-top: -8rem;
        width: 31%;
    }

        .text_about_us p:nth-child(2) {
        margin-left: 15rem;
        margin-top: 2rem;
        width: 28%;
    }

        .work_arrow img {
        width: 3.4rem;
        margin-left: -1rem;
        margin-right: 2rem;
        margin-top: -0.8rem;
    }
        .title_work {
        font-weight: 500;
        letter-spacing: -2px;
        gap: 2rem;
        font-size: 3.4rem;
        margin: 10rem 0rem 6rem 6rem;
    }

        .hello p {
        margin-left: 17rem;
    }

    .name, .email, .project {
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}

    .name input, .email input, .project input {
        height: 3rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: -1rem;
        text-align: end;
        width: 35rem;
    }

        .form_button {
        font-size: 2.3rem;
        margin: 2rem 0rem 2rem 28.5rem;
        padding: 0.5rem;
        width: 6.5rem;
        letter-spacing: -2px;
    }

        .marquefooter-r h1, .marquefooter-l h1 {
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: -6px;
    }

    .h1_opinions h1 {
        font-size: 3rem;
        width: 80%;
    }

        #opinions {
        height: 215vh;
        padding: 3rem 2rem;
    }

    .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
        width: 24rem;
        height: 26rem;
        padding: 2rem 2rem;
    }

        .review {
        font-size: 1.2rem;
    }

    .work_arrow img {
        width: 3.4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: -0.8rem;
    }

        #foot .top {
        margin-top: -3rem;
        gap: 7rem;
    }

        .text_top1 p, .text_top2 p, .text_top3 p {
        font-size: 3.5rem;
        letter-spacing: -4px;
    }

    .text_top3 p span img {
        width: 3rem;
        filter: invert(1);
    }

        #foot .img_footer {
        margin-left: 0.6rem;
    }

        #foot {
        height: 48vh;
        padding: 3rem;
        margin-top: -3rem;
    }

    .text_middle .icon_top p {
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: -2px;
    }

    .text_middle .icon_top img {
        width: 2.5rem;
        margin-top: -1.2rem;
        margin-left: -0.5rem;
        height: 2.8rem;
    }

        .text_bottom {
        width: 96%;
        margin: -2rem 0rem 2rem 1rem;
        font-size: 0.8rem;
    }
}


@media (max-width: 375px) {

  .cookie-banner {
        max-width: 15rem;
        padding: 1.75rem;
    }

    .cookie-banner h3 {
        font-size: 1rem;
    }

    .cookie-banner p {
        font-size: 0.7rem;
    }

        .btn {
        padding: 0.85rem 1.5rem;
        font-size: 0.7rem;
    }

    .close-btn {
        top: 1rem;
        right: 0.5rem;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
    }
  
  .logo {
        margin: -17rem 0rem 0rem 2rem;
        max-width: 9rem;
    }

        .menu-toggle {
        margin-left: 2rem;
        margin-bottom: 1.2rem;
            width: 5rem;
        font-size: 0.9rem;
    }

    .navbar {
        width: 8.5rem;
        height: 7.5rem;
            top: -24rem;
            padding: 0.9rem;
        left: clamp(1rem, 100vw - 9.5rem, 45rem);
    }

         .menu-mobile {
        list-style: none;
        margin: 0;
        margin-top: -1rem;
        padding: 0;
        line-height: 0.05;
        font-size: 0.9rem;
    }

        .texth_2 p:first-child {
        margin-left: 7rem;
        margin-bottom: 1.4rem;
    }


        .texth_2 p {
        font-size: 1.8rem;
    }

    .texth_2 p:last-child {
        margin-left: 12rem;
    }

        .icon-img {
        width: 1.5rem;
    }

    .text_header {
        margin-top: -4rem;
        gap: 0rem;
        margin-left: -13.5rem;
    }

        header {
        height: 42rem;
    }

        #work > p {
        font-size: 2.5rem;
        letter-spacing: -2px;
    }

        .marquework h1 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: -2px;
    }

        .title_know {
        letter-spacing: -1px;
        font-size: 1.7rem;
        margin: 4rem 0rem 0rem 0rem;
    }

        .about_us_arrow img {
        width: 1.7rem;
        margin-top: -0.4rem;
        margin-left: 0.5rem;
    }

    .text1 > p, .text > p {
        font-size: 1.2rem;
    }

    .text1 {
        margin: 11rem 25rem 8rem 6.5rem;
        width: 46%;
    }

        .text {
        margin: -2rem 25rem 14rem 6.5rem;
        width: 48%;
    }

        .video_lola video {
        margin-left: 5.5rem;
        margin-bottom: 4rem;
    }

    .stat-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 0rem;
        margin-top: 1.5rem;
    }

    
    
    .stat-card {
      padding: 1rem;
      text-align: left;
      height: 11rem;
      gap: 2rem;
    }
    .stat-number {
      font-size: 6rem;
      margin-left: 7rem;
      margin-bottom: 1rem;
      letter-spacing: -8px;
    }
    
    .text-b {
      font-size: 2.5rem;
      margin: 3rem 0rem 3rem 7rem;
    }
    
        .one {
        margin-left: 10rem;
    }
    .title_about_us {
        letter-spacing: -1px;
        font-size: 1.7rem;
        margin: 9rem 0rem 0rem 2rem;
    }

        .title_about_us a img {
        width: 1.8rem;
        margin-left: 1rem;
        margin-top: -0.2rem;
    }

        #about_us {
        position: relative;
        height: 24rem;
    }

    .text_about_us p {
        font-size: 0.8rem;
        letter-spacing: 0px;
    }

        .vertical1, .vertical2, .vertical3 {
        left: 8rem;
    }

        .vertical1 {
        width: 0.1rem;
        top: 5rem;
        opacity: 0.2;
    
    }

        .vertical2 {
        width: 0.1rem;
        top: 17rem;
        max-height: 400px;
    }

    .vertical3 {
        width: 0.1rem;
        top: 47rem;
    }

        .text_about_us {
        gap: 12.5rem;
    }

    #about_us .logo_fondo {
    top: 13rem;
    width: 100%;
    height: 114%;

    }

        #work_with_us {
        margin-top: 36rem;
    }

        .text_about_us p:first-child {
        margin-left: 4rem;
        margin-top: 8rem;
        width: 36%;
        font-weight: 400;
    }

        .text_about_us p:nth-child(2) {
        margin-left: 10rem;
        margin-top: -1rem;
        width: 36%;
    }

    .text_about_us p:last-child {
        margin-left: 4rem;
        margin-top: -0.5rem;
        width: 34%;
    }

    .title_work {
        font-weight: 500;
        letter-spacing: -1px;
        gap: 0rem;
        font-size: 2rem;
        margin: 0rem 0rem 4rem 2rem;
    }

    .work_arrow img {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0rem;
    }

    .form {
        letter-spacing: -2px;
    }

    .hello p {
        margin-left: 10rem;
    }

        .name input, .email input, .project input {
        height: 2rem;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
        margin-top: -0.5rem;
        text-align: end;
        width: 21rem;
    }

        .form_button {
        font-size: 1.7rem;
        margin: 0rem 0rem 2rem 16rem;
        padding: 0.5rem;
        width: 5rem;
        letter-spacing: -1px;
    }

    #opinions {
        height: 241vh;
        padding: 1rem;
    }

    .h1_opinions h1 {
        font-size: 2rem;
        width: 90%;
    }

        .opinion1, .opinion2, .opinion3, .opinion4, .opinion5 {
        width: 17rem;
        height: 21rem;
        padding: 1rem 2rem;
    }

        .in {
        gap: 1rem;
    } 

        .review {
        font-size: 0.9rem;
    }

    .five {
        margin-left: 0rem;
        margin-top: -2rem;
        flex-wrap: wrap;
    }

    .marquefooter-r {
        margin-top: 3rem;
        margin-bottom: -1.5rem;
    }

    .marquefooter-r h1, .marquefooter-l h1 {
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: -3px;
    }


        #foot .img_footer {
        margin-left: 0.4rem;
    }

        .name p, .email p, .project p, .hello p {
        font-size: 2.2rem;
    }

    .text_top1 p, .text_top2 p, .text_top3 p {
        font-size: 2rem;
        letter-spacing: -2px;
    }

    .in {
    align-items: center;
}

        .brand {
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 0.3rem;
    }

    .text_middle .icon_top p {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: -1px;
    }

        .text_middle .icon_top img {
        width: 1.5rem;
        margin-top: -1.2rem;
        margin-left: -1rem;
        height: auto;
    }

    .text_top3 p span img {
        width: 2rem;
        filter: invert(1);
    }

        .text_bottom {
        width: 93%;
        margin: -2.5rem 0rem 2rem 1rem;
        font-size: 0.5rem;
    }

    .text_bottom ul li {
    font-weight: 400;
    opacity: 0.9;
}

    #foot .top {
        margin-top: -2.5rem;
        gap: 6.5rem;
    }

.text_bottom ul {
        gap: 0.5rem;
    }

    #foot .text_middle {
        position: relative;
        top: 2rem;
        z-index: 1;
    }

        #foot {
        height: 43vh;
        padding: 1.5rem;
        margin-top: -2rem;
    }
    


  }
  